@font-face{
    font-family: 'Shrikhand';
    src:url(fonts/Shrikhand-Regular.ttf)
}
@font-face{
    font-family: 'Roboto-Regular';
    src:url(fonts/Roboto-Regular.ttf)
}

/*PAGE D'ACCEUIL*/
/*loader*/
.loader--section{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
    animation: loader--bar ease-in-out 3s forwards;
}
.loader{
    display: flex;
    justify-content: space-evenly;
    width: 20%;
    height: 30%;
}
@keyframes bars {
    0% {
        transform: scaleY(0.5);
    }

    100% {
        transform: scaleY(1.0);
    }
    
}
.loader--bar{
    background-color: #99e2d0;
    width: 10%;
    height: 75%;
    animation: bars 1000ms backwards infinite ease-in-out alternate;
}
.loader--bar1{
    animation-delay: 200ms;
}
.loader--bar2{
    animation-delay: 400ms;
}
.loader--bar3{
    animation-delay: 600ms;
}
.loader--bar4{
    animation-delay: 800ms;
}
.loader--bar5{
    animation-delay: 1000ms;
}
/*header*/
body{
    margin: 0%;
    width: 100%;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
h1{
    font-family: 'Shrikhand';
}
.localisation{
    border:2px solid transparent;
    border-radius: 10px;
    background-color: #f2f2f2;
    width: 20%;
    padding: 15px;
    -webkit-box-shadow: 6px 6px 15px -3px rgba(0,0,0,0.26); 
    box-shadow: 6px 6px 15px -3px rgba(0,0,0,0.26);
    font-family: 'Roboto-Regular';
    text-align: center;
    cursor: pointer;
}
.localisation:hover{
    Transform: scale(1.01);
}
.position{
   margin-right: 10px;
}

/*explorer*/
.section_explorer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #f2f2f2;
    text-align: center;
    font-family: 'Roboto-Regular';
}
h3{
    font-weight: 300;
    margin: 0%;
    font-family: 'Roboto-Regular';
}
.explorer{
    width: 50%;
    border-radius: 25px;
    background: #FF79DA;
    background: -moz-linear-gradient(top, #FF79DA 0%, #9356DC 100%);
    background: -webkit-linear-gradient(top, #FF79DA 0%, #9356DC 100%);
    background-color: linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 40px;
    -webkit-box-shadow: 6px 6px 15px -3px rgba(0,0,0,0.26); 
    box-shadow: 6px 6px 15px -3px rgba(0,0,0,0.26);
    color: white;
    cursor: pointer;
}
.explorer:hover{
    Transform: scale(1.01);
    opacity: 0.9;
}

/*fonctionnement*/
.fonctionnement{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto-Regular';
    margin-bottom: 30px;
    margin-top: 30px;
    padding-left: 10%;
    padding-right: 10%;
}
.etape_fonctionnement{
    width: 100%;
    margin-top: 30px;
}
.carte_fonctionnement{
    display: flex;
    align-items: center;
    border: 2px solid transparent;
    border-radius: 15px;
    background-color: #f2f2f2;
    cursor: pointer;
    -webkit-box-shadow: 6px 6px 15px -3px rgba(0,0,0,0.26); 
    box-shadow: 6px 6px 15px -3px rgba(0,0,0,0.26);
    margin-bottom: 30px;
}
.carte_fonctionnement:hover{
    Transform: scale(1.01);
    background-color: #e9e9e9;
    color: #9356DC;
}
.text{
    color: black;
}
.section_nombre{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nombre_carte{
    display: flex;
    justify-content: center;
    width: 20px;
    border:2px solid transparent;
    border-radius: 50px;
    background-color: #9356dc;
    color: white;
    position: absolute;
}
.texte_fonctionnement{
    display: flex;
    padding: 30px;
    margin-left: 30px;
}
.icons{
    margin-right: 15px;
}


/*restaurants*/
h4{
    font-size: 130%;
    font-family: 'Roboto-Regular';
    margin: 0%;
}
.section_restaurants{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    font-family: 'Roboto-Regular';
    padding-top: 30px;
}
.elements_restaurants{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.cartes_restaurants{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 35%;
    height: 300px;
    border-radius: 15px 15px 15px 15px;
    cursor: pointer;
    -webkit-box-shadow: 6px 6px 15px -3px rgba(0,0,0,0.26); 
    box-shadow: 6px 6px 15px -3px rgba(0,0,0,0.26);
    margin-top: 15px;
    margin-bottom: 35px;
}
.cartes_restaurants img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}
.cartes_restaurants:hover{
    Transform: scale(1.01);
}
.bouton_nouveau{
    position: absolute;
    border: 2px solid transparent;
    background-color: #99e2d0;
    color: #199072;
    font-weight: 700;
    margin: 10px;
    padding: 5px;
    border-radius: 3px;
}
.description_restaurants{
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 0px 0px 15px 15px;
    color: black;
}
.texte_cartes{
    margin-left: 5%;
}
h5{
    font-size: 120%;
    margin: 0%;
}
.hearts{
   display: flex;
   margin-right: 5%;
}
.heart{
    font-size: 25px;
    cursor: pointer;
}
.heart:hover{
    width: 0%;
    opacity: 0;
    cursor: pointer;
    color: #9356DC;
    transform: scale(0.2);
}
.heartfull{
    font-size: 27px;
    opacity: 0;
    position: absolute;
    cursor: pointer;
    margin: -1px;
    transition: transform 750ms ease-in-out;
    transition-property: transform 750ms;
}
.heartfull:hover{
    opacity: 1;
    margin-right: 15px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 10%;
    transition: transform 750ms ease-in-out;
    background-image: linear-gradient(to bottom, #FF79DA 0%, #9356DC 100% );
    transform: scale(1);
}

/*footer*/
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333333;
    color: white;
    width: 100;
}
.footer_ul{
    display: flex;
    list-style-type: none;
    font-family: 'Roboto-Regular';
    padding: 0%;
}
li{
    margin-left: 10px;
}
.contact{
    color: white;
}
a{
    text-decoration: none;
    color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
}


/*PAGES MENU*/
/*HEADER*/
.header_pages_menu{
    display: flex;
   flex-direction: row;
}
.logo{
    font-family: 'Shrikhand';
}
.bouton_back{
    margin-right: 40%;
    margin-left: 2%;
    font-size: xx-large;
}
.bouton_back:hover{
    Transform: scale(1.01);
    color: black; 
    text-decoration: none;
}
.imgpages img{
    object-fit: cover;
    width: 100%;
    height: 350px;
}
/*MENU*/
.section_menu{
    background-color: #f2f2f2;
    border-radius: 40px 40px 0px 0px;
    padding: 2%;
    margin-top: -5%;
    position: relative;
}
.menu_titre{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Shrikhand';
    margin-left: 5%;
}
.titres_menu{
    width: 4%;
    margin-left: 5%;
    margin-bottom: 3%;
    border-bottom: 2px solid #99e2d0;
}
.menus{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateY(-80);
    opacity: 1;
    animation: steps(1s forwards);
}
.cartes_menu{
    display: flex;
    justify-content: space-between;
}
.global{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    background-color: white;
    width: 100%;
    border-radius: 20px 20px 20px 20px;
    margin-bottom: 3%;
    -webkit-box-shadow: 6px 6px 15px -3px rgba(0,0,0,0.26); 
    box-shadow: 6px 6px 15px -3px rgba(0,0,0,0.26);
}
.description_menu{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    padding: 2%;
}
.details--description{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 80%;
}
p{
    font-family: 'Roboto-Regular';
    margin-bottom: 0%;
}
.prix_menu{
    display: flex;
    justify-content: center;
    width: 20%;
    font-family: 'Roboto-Regular';
    font-weight: bold;
}
.check{
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%;
    background-color: #99e2d0;
    color: white;
    font-size: 1.3rem;
    border-radius: 0px 20px 20px 0px;
    transition: transform 350ms ease-in-out;
    cursor: pointer;
    padding: 3%;
}
.check:hover{
    opacity: 1;
    transform: translateX(-100px);
}
.circle{

  
}
.circle:hover{
    transform: rotate(1turn);
    transition: transform 500ms ease-in-out;
}
.commander{
    display: flex;
    justify-content: center;
    width: 75%;
    border-radius: 25px;
    background: #FF79DA;
    background: -moz-linear-gradient(top, #FF79DA 0%, #9356DC 100%);
    background: -webkit-linear-gradient(top, #FF79DA 0%, #9356DC 100%);
    background: linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
    -webkit-box-shadow: 6px 6px 15px -3px rgba(0,0,0,0.26); 
    box-shadow: 6px 6px 15px -3px rgba(0,0,0,0.26);
    padding: 15px;
    margin-left: 11%;
    color: white;
    cursor: pointer;
    font-family: 'Roboto-Regular';
    font-size: 130%;
}
.commander:hover{
    Transform: scale(1.01);
    opacity: 0.9;
}


/*MEDIA*/

@media screen and (max-width: 605px){
    /*PAGE D'ACCEUIL*/
    header{
        margin-bottom: 0%;
    }
    .logo_titre{
        display: flex;
        justify-content: center;
        width: 100%;
        position: relative;
        -webkit-box-shadow: 6px 6px 15px -3px rgba(0,0,0,0.26); 
        box-shadow: 1px 1px 10px 3px rgba(0,0,0,0.26);
    }
    .localisation{
        width: 100%;
        box-shadow: none;
        background-color: rgb(226, 226, 226);
        border-radius: 0px;
    }
    .carte_fonctionnement{
        border-radius: 30px;
    }
    .carte_fonctionnement:hover{
        background-color: darken (#d4d4d4, 5);
    }
    .fonctionnement{
        align-items: flex-start;
        padding: 5%;
    }
    .section_nombre{
        align-items: center;
    }
    .section_restaurants{
        align-items: flex-start;
        padding-left: 5%;
        padding-right: 5%;
    }
   .elements_restaurants{
       display: flex;
       flex-direction: column;
       width: 100%;
   }
   .cartes_restaurants{
       width: 100%;
   }
   footer{
       align-items: flex-start;
       padding-left: 5%;
   }
   .footer_ul{
       flex-direction: column;
   }
   /*PAGE MENU*/
   h1{
       margin-bottom: 0%;
   }
   .bouton_back{
       margin-right: 20%;
       margin-top: 2%;
   }
   .section_menu{
       margin-top: -20%;
   }
   .global{
       border-radius: 10px 10px 10px 10px;
       width: 85%;
   }
   .description_menu{
       width: 95%;
   }
   .check{
       border-radius: 0px 10px 10px 0px;
   }
   .titres_menu{
       width: 13%;
   }
   .commander{
       width: 50%;
       margin-left: 20%;
       margin-top: 10%;
       margin-bottom: 10%;
   }
   h4, p{
       white-space: nowrap;
       overflow: hidden;
       text-overflow: ellipsis;
       margin-top: 0%;
       
   }


    
}